<div class='container'>
    <p></p>
    <h1>Editing Tail</h1>
    
    <%= render 'form', tweet: @tweet %>
    <p></p>
    <%= link_to 'Show', @tweet %> |
    <%= link_to 'Back', tweets_path %>
    
</div>