<div class='container'>
    <p></p>
    <h1>Editing Tail</h1>
    
    <%= render 'form', tweet: @tweet %>
    <p></p>
    <p></p>
    <p></p>
    <%= link_to 'Delete', tweet: @tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <%= link_to 'Back to Tails', tweets_path %>
    

    
</div>