<div class='container'>
    <p> </p>
    <h1>New Tail</h1>

    <%= render 'form', tweet: @tweet %>
    <%= link_to 'Back', tweets_path %>
</div>
<center>
    <p> </p>
    <p> </p>
    <%= image_tag("jocat.jpg", class: "img-fluid")%> 
</center>