<div class='container'>
    <p> </p>
    <h1><%= @user.username %></h1>
    <p></p>
    <h4><%= @user.name %></h4>
    <p></p>
    <p>This is where the text box for users to fill will go, with picture of their pet and some info about their pet's name and type</p>
    
     <%= link_to 'Back', tweets_path, class: "btn btn-info" %>
    
</div>

