<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>petSNAP is a website designed for people to share pictures, videos and stories about their pets. This website will hopefully inspire you to helpyour furry lttle friends to do some amazing and funny tricks</a>.</p>
        <p>So why not try signing up or loging in (if you already have an acount).</p>
    </div>
</div>
