<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>petSNAP is a website designed for people to share pictures, videos and stories about their pets. This website will hopefully inspire you to help your furry lttle friends to do some amazing and funny tricks</a>.</p>
        <p>So why not try signing up or loging in (if you already have an acount).</p>
        <p>I’m a year 7 and this is a project to learn Ruby on Rails</p>
    </div>
    <div class="container">
    <%= image_tag("catpicture1.jpg", :size => "800x500", class: "img-responsive center-block")%> <!-- image creative commons via https://www.flickr.com/photos/jerryliu/15116765570/in/photolist-p2PnK9-fXRSo-dZ8JwZ-oX8Dp7-9FjWdg-aT7akM-ahuXf8-e4LY68-uYQ2H-65fjVh-ajyBYj-kL8Fcc-96GYDJ-d55j3Y-hDVqdM-6iwBTH-pw68qo-deRX6L-deRX8Y-97uBZ7-aqXARD-owVkdM-uYQ9N-atBJxp-qWFs4R-8wjaRr-Ea2e9Y-deRX5d-7EQcep-4SxWCr-9c8DxY-8tkTfR-a9mSXv-miJggD-5w5Goo-eeDEiJ-2bxR29N-cUPhgC-79VHsD-daswEJ-Nx5pV1-deRX7T-2aCm4MT-5tDdFG-jQHaxM-DeyeNT-5EYifD-9Bct2H-9dxDnZ-5zkGTy-->
    </div>
</div>
