// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('catbanner11.jpg')); //photo creative commons via https://www.flickr.com/photos/silvertje/3752504188/in/photolist-9784S8-8eBrwH-5Qt7Fm-y7SZd-978CgF-49Bd2c-9789T4-ooRwtG-inRQk-7xN32J-97bhsj-94YHhX-ooAz9R-n8seZ-Mt1kKr-ZJFT2j-6Y9qZw-3zxgyk-5DukT8-4U2XMC-ebrovE-6piaxr-4v2KpM-JWEoAC-9HWVn1-sSBN6d-2ehiJtR-2ecDuW1-2aKt8CN-2aKt9PA-PfdVkw-7WGHc-2a8myxb-dafSFo-6FSFQY-2QcXj-omRjrm-Vb7G8q-2aKt7ZU-MsuxVf-wFGFKd-24yhmYn-wP9TVu-xtycro-uLbYam-xHReJ7-qzrAgK-yKkeTe-9nduXN-6HAyL5
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}